body, html{
    height: 100%;
    display: grid;
    background: rgb(238, 174, 202);
    background: linear-gradient( 30deg,rgba(238, 174, 202, 1) 0%,rgba(148, 187, 233, 1) 100%);
    overflow: hidden;
}